<header aria-label="Adicionar categoria">
  <h1 >Nova Categoria</h1>
  <button mat-mini-fab class="adicionar" aria-label="Adicionar categoria">
    <mat-icon (click)="onAdd()"> add_circle </mat-icon>
  </button>
</header>
<br>

<div *ngFor="let item of itemCat" class="body">
  <mat-card>
    <mat-card-title> {{ item.nome }}</mat-card-title>
    <button class="bimg">
      <img class="img" mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </button>
    <button mat-icon-button class="edit" aria-label="Editar categoria">
      <mat-icon (click)="onEdit(item)"> Edit </mat-icon>
    </button>

    <button mat-icon-button color="warn" aria-label="Remover categoria">
      <mat-icon (click)="onDelete(item)"> del </mat-icon>
    </button>
  </mat-card>
</div>
