.body{
  text-align: center;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  width: 100%;

}

mat-card{
  background-color: rgba(0, 0, 0, 0.888);
  justify-content: center;
  align-items: center;
  width: 70%;
  display: inline-block;

}

input{
  background-color: rgb(247, 244, 246);
  color: rgb(19, 18, 18);
  border-radius: 9px;
  width: 60%;
  padding: 0.6em;
  margin-bottom: 1em;
}

button{
  width: 55%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;

}

.footer{
  text-align: center;
  position: relative;
}
