
<body class="body">
  <mat-card>
    <form class="formu">
      <mat-form-field class="email" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" placeholder="Ex. email@example.com">
        <br>
        <br>
        <input type="password" placeholder="Senha">
      </mat-form-field>
    </form>

    <button mat-raised-button color="primary">Entrar</button>
    <button mat-raised-button>Esqueci Senha/email</button>
  </mat-card>
</body>
<footer class="footer">
  <h3>SystemPro uma empresa de excelência</h3>
  <p>Contatos: Email: nando.systempro@hotmail.com</p>
  <p>Cel.: (11) 97771-2030</p>
</footer>
