
mat-card{
  width: 100%;
  text-align: left;
  align-items: baseline;
  border-radius: 20px;

}

mat-toolbar{
  background-color: rgb(70, 6, 100);
  border-radius: 10px;
  color: white;


}

button{
  border-radius: 10px;
  background-color: rgb(70, 6, 100);
  color: white;
  text-align: left;
  align-items: baseline;
  width: 90%;
}
