
mat-card{
  width: 40%;
  text-align: left;
  align-items: center;
  border-radius: 20px;

}

buttonmat-button {
  background-color: rgb(70, 6, 100);
  color: white;
  width: 100%;

}

button{
  border-radius: 10px;
  background-color: rgb(70, 6, 100);
  color: white;
  text-align: left;
}
